.dirstamp
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
configure
oci-systemd-hook
oci-systemd-hook.1
.deps/
systemdhook.o
oci_systemd_hook-systemdhook.o
build-aux/
config.h
config.h.in
stamp-*
*.gz
